body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
}

#main {
    margin: auto;
    text-align: center;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#timesTable td {
	border: 1px solid gray;
	padding: 0px 15px 0px 15px;
}

#main table {
	margin: auto;
}

#main table #mealName {
	border: none;
}